$text-dark: #181818;
$text-blue: #0275B1;
$text-gray: #747474;
$border-blue: #0275B1;
$border-gray: #F4F4F4;
$border-gray-light: #E7E7E7;
$linear-blue: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);